body {
  margin: 20px;

}

.search-form {
  align-items: center;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  
  
}

.search-form input[type='text'] {
  padding: 8px 20px;
  width: 400px;
  border-radius: 4px;
  margin: 0 auto; 
  
}

.search-more {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  margin-top: 20px;
  margin: 20px auto;
  border: 3px;
  border-radius: 4px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  
}

.photo-card {
  border: 1px solid #e7e9fc;
  margin-bottom: 8px;
  border: 1px solid transparent;
  border-top: none;

}

.photo-card img {
  height:100%;
  object-fit:cover; 
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  
}
.img-box {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.info {
  margin: 0 10px;
  display: flex;
  /* flex-wrap: wrap; */
  text-align: center;
  font-size: 14px;

 
}
.img-link {
  text-decoration: none;
}

.info-item {
  margin: 5px 0;
  text-decoration: none;
  color: black;
}

.load-more {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  margin-top: 20px;
  display: block;
  margin: 20px auto;
  border: 3px;
  border-radius: 4px;
  
}

.no-results {
  text-align: center;
  color: red;
  font-weight: bold;
}
.is-hidden {
  display: none;
  visibility: hidden;
}